.col.m6.offset-m2.l4.offset-l4.s12
  #serial_data
  .field
    = label_tag :serial, 'Serial'
    = text_field_tag :serial
  .input-field
    = button_tag('Agregar', class: 'right btn blue', id: "send_serial")
    = button_tag('Remover', class: 'left btn red', id: "remove_serial", data: {:confirm => '¿Estás seguro que quiere remover esta licencia?'})
.clearfix


javascript:
  $(document).ready(function(){
    http = "http://192.168.1.108:3000";
    $('#send_serial').on('click', function(){
      if( $('#serial').val() != ''){
        serial = $('#serial').val();
        $.ajax({
          type: "POST",
          url: http+"/validate_licenses.json",
          dataType: "json",
          headers: {
              'Content-Type': 'application/x-www-form-urlencoded'
          },
          data: { serial: serial },
          complete: function(data){
            response = data.responseJSON;
            if (response.valid==true){
              success_notification(response.message);
            }else{
              alert_notification(response.message);
            }
          }
        });
      }else{
        alert_notification('Debes ingresar un serial!');
      }
    });
    $('#remove_serial').on('click', function(){
      $.ajax({
        type: "POST",
        url: http+"/remove_licenses.json",
        dataType: "json",
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded'
        },
        complete: function(data){
          response = data.responseJSON;
          if (response.valid==true){
            success_notification(response.message);
          }else{
            alert_notification(response.message);
          }
        }
      });
    });
  });
