.col.m6.offset-m2.l4.offset-l4.s12
  #serial_data
  .field
    = label_tag :serial, 'Serial'
    = text_field_tag :serial
  .input-field
    = button_tag('Agregar', class: 'right btn blue', id: "send_serial")
.clearfix


javascript:
  $(document).ready(function(){
    $('#send_serial').on('click', function(){
      if( $('#serial').val() != ''){
        serial = $('#serial').val();
        $.ajax({
          type: "POST",
          url: "http://192.168.1.108:3000/validate_licenses.json",
          dataType: "json",
          headers: {
              'Content-Type': 'application/x-www-form-urlencoded'
          },
          data: { serial: serial },
          complete: function(data){
            response = data.responseJSON;
            if (response.valid==true){
              success_notification(response.message);
            }else{
              alert_notification(response.message);
              //$('#serial_data').html(data.responseJSON.remote_ip)
            }
          }
        });
      }else{
        alert_notification('Debes ingresar un serial!');
      }
    })
  });
